<body>
    <h1 class="display-4" style="text-align:center; margin-top:5%">Bienvenido a la Escuela Monlau</h1>
    <video id="videoplayer" src="@Url.Content("~/Video/Monlau.mp4")" width="1000" autoplay muted loop style="margin-left: 25%; margin-top:1%;"/>

</body>